* {
    box-sizing: border-box;
  }
  
body {
    background-color: rgb(53, 55, 61);
    font-family: sans-serif;
    color: black;
    margin:0;
    padding: 0;
}

#fileLabel{
    padding: 0 2%;
}
  
header h1 {
    color: black;
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

#app-container{
    display: flex;
    height: 100vh;

}

#beats-ui{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.842);
    margin: 0%;

}

#toggleBeatMakerBtn{
    float: right;
    margin: 2%;
    position: fixed;
    top: 10;
}

#vis-ui{
    flex-grow: 1;
    flex: 1;
    margin: 0%;
}

#vis-container{
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}

.container{
    padding: 0%;
    margin: 0 3%;
    width: 94%;
    display: flex;
}

#pads-container { 
    padding: 2%;
    overflow: scroll;
    width: 80%;
    background: rgb(0, 0, 0);
    padding-right: 4%;
}

#groups-container{
    padding: 2%;
    width: 20%;
    flex-grow: 30%;
    background: rgba(29, 29, 29, 0.822);
}

.pads-group{
    width: 100%;
    height: 9vh;
    line-height: 5vh;
    overflow: hidden;
}

.name{
    white-space: nowrap;
    padding-left: 2%;
    width: 40%;
    color: #b5b5b5;
}

.pads{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
  
.pads > div:hover{
      opacity: 1.0;
}

.tom, #tomsLevel{
    background-color: #7daad5;
}
.clap, #clapsLevel{
    background-color: #98D000;
  }
.kick,  #kicksLevel{
    background-color: #F4FF24;
}
.openhat,  #openhatsLevel{
    background-color: #F8BD3C;
}
.boom,  #boomsLevel{
    background-color: #df9bcd;
}

.ride,  #ridesLevel{
    background-color: #EC1FFF;
}

.snare, #snaresLevel{
    background-color: #391FFF;
}

#addFileForm, #mainForm{
    display: none;
}

.formWrapper{
    height: 100%;
    position: relative;
}

#submit, #fileInputDone{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10%;
}

#newAudioForm, #addFileForm, #newBeatPreview{
    text-align: center;
    display: none;
    padding: 0%;
    position: fixed;
    width: 40%;
    height: 30%;
    background: rgb(207, 191, 199);
    top: 30%;
    left: 30%;
    z-index: 50;
    border: 5px solid rgb(163, 163, 226);
}

.formWrapper > div{
    font-size: 1.25em;
    text-align: center;
}
.formWrapper > span{
    font-size: .75em;
}

.draganddrop{
    margin-top:15%;
}
.closeFormBtn{
    float: right;
}

.pads > div{
    white-space: nowrap;
    height: 5vh;
    flex: 0 0 10%;
    border-radius: 3px;
    opacity: .5;
    z-index: 1;
    margin: 2vh;
  }

.play{
    /* width: 11% !important;
    margin-left: .5% !important;
    margin-right: .5% !important; */
    opacity: 1.0 !important;
    border-radius: 10px !important;
    border: 2px solid black;
    box-shadow: 0 0 4px 6px inset rgb(12, 12, 12), 0 0 8px 8px inset rgb(100, 100, 100);
}

#playBtn{
    margin: 0% 47.5%;
    padding: 1%;
    text-align: center;
    font-size: 1.5rem;
    width: 8%;
}

#extend, #new{
    display: none;
    position: absolute;
    top: 0;
    background: white;
    padding: 4px;
    font-size: .75em;
    color: olive;
    height: fit-content;
}

#extend{
    right: 0;
}

#new{
    left: 10;
    bottom: -10px;

}

#clearBtn{
    padding: .5%;
    font-size: 1rem;
    margin-right: 2%;
    float: right;
}

#newBtn, #recordBtn{
    padding: .5%;
    font-size: 1rem;
    float: left;
    margin: 1%;

}

#playCtrl{
    clear: both;
    display: block;
}

.active-pad{
    width: 15%;
    height: 7vh;
    box-shadow:  0 0 5px 5px rgba(32, 38, 73, 0.562) inset;
}
  
.level{
    -webkit-appearance: none;
    border-radius: 5px;  
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

 .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
  }

#tempoEnabled, #tempoDisabled{
    width: 30%;
    height: 15px;
    position: absolute;
    left: 35%;
  }


#tempoEnabled{
    background: rgba(21, 124, 21, 0.823);
}

#tempoDisabled{
    background: #858484;
}


#tempoEnabled::-webkit-slider-thumb{
    background: rgba(160, 232, 160, 0.823);
    height: 20px;
    width: 20px;
}

#tempoDisabled::-webkit-slider-thumb{
    background: #b5b5b5d0;
    height: 20px;
    width: 20px;
}


.pads-group > .level{
    position: static;
    display: block;
    width: 70%;
    height: 10px;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

.pads-group > .level::-webkit-slider-thumb{
    height: 12px;
    width: 12px;
    background: rgb(236, 234, 234);
}

button{
    opacity: .6;
    border: 3px solid rgb(45, 54, 31);

}

button:hover{
    opacity: 1.0;
    cursor: pointer;
}

.controls{
    margin: 1% 3%;
    width: 94%;
    height: 12vh;
    padding: 5% 2% 0% 2%;
}

#expandBtn{
    border-radius: 50%;
    float: right;
    font-size: 1.15em;
}
.controls button, #toggleBeatMakerBtn{
    background-color: #363e5c;
    color: rgb(174, 174, 255);
    border-radius: 5px;
}

.miscCtrl{
    position: relative;
    padding: 1.5%;
    height: fit-content;
}
