* {
    box-sizing: border-box;
  }
  
body {
    background-color: rgb(101, 111, 134);
    font-family: sans-serif;
    color: black;
    margin:0;
    padding: 0;
}

#synth{
    width: 80%;
    margin: 2% 10%;
    padding: 2%;
    background-color: rgb(68, 68, 66);
    border-radius: 10px;
}
  
header h1 {
    color: #363e5c;
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

#ui{
    width: 85%;
    background-color: rgb(42, 42, 48);
    border: 5px solid rgb(163, 163, 226);
    margin: 2% 7.5% 4% 7.5%;
    padding: 2%;

}

.container{
    padding: 2%;
    margin: 0 3%;
    width: 94%;
    display: flex;
    background: rgba(69, 77, 69, 0.782);
}

#pads-container { 
    overflow: scroll;
    width: 80%;
    background: rgba(0, 0, 0, 0.761);
    padding-right: 2%;
}

#groups-container{
    width: 20%;
    flex-grow: 30%;
    background: rgba(39, 39, 39, 0.761);
}

.pads-group{
    width: 100%;
    height: 9vh;
    line-height: 5vh;
    overflow: hidden;
}

.name{
    white-space: nowrap;
    padding-left: 2%;
    width: 40%;
    color: #b5b5b5;
}

.pads{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
  
  .pads > div:hover{
      opacity: 1.0;
  }

  .tom, #tomsLevel{
    background-color: rgb(94, 114, 62);
}
  .clap, #clapsLevel{
    background-color: rgb(152, 208, 0);
  }
  .kick,  #kicksLevel{
    background-color: rgb(244, 255, 36);
  }
  .openhat,  #open-hatsLevel{
    background-color: rgb(248, 189, 60);
  }
  .boom,  #boomsLevel{
    background-color: rgb(208, 129, 87);
  }

  .ride,  #ridesLevel{
    background-color: rgb(148, 2, 124);
}

#addFileForm, #mainForm{
    display: none;
}

.formWrapper{
    height: 100%;
    position: relative;
}

#submit{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 5%;
}

#newAudioForm, #addFileForm, #newBeatPreview{
    text-align: center;
    display: none;
    padding: 0%;
    position: fixed;
    width: 40%;
    height: 30%;
    background: rgb(207, 191, 199);
    top: 30%;
    left: 30%;
    z-index: 50;
    border: 5px solid rgb(163, 163, 226);
}

.formWrapper > div{
    font-size: 1.25em;
    text-align: center;
}
.formWrapper > span{
    font-size: .75em;
}

.draganddrop{
    margin-top:15%;
}
.closeFormBtn{
    float: right;
}

.pads > div{
    white-space: nowrap;
    height: 5vh;
    flex: 0 0 10%;
    border-radius: 5px;
    opacity: .5;
    z-index: 1;
    margin: 2vh;
  }

.play{
    /* width: 11% !important;
    margin-left: .5% !important;
    margin-right: .5% !important; */
    opacity: 1.0 !important;
}

#playBtn{
    margin: 0% 47.5%;
    padding: 1%;
    text-align: center;
    font-size: 1.5rem;
    width: 5%;
}

#extend, #new{
    display: none;
    position: absolute;
    top: 0;
    background: white;
    padding: 4px;
    font-size: .75em;
    color: olive;
    height: fit-content;
}

#extend{
    right: 0;
}

#new{
    left: 10;
    bottom: -10px;

}

#clearBtn{
    padding: .5%;
    font-size: 1rem;
    margin-right: 2%;
    float: right;
}

#newBtn, #recordBtn{
    padding: .5%;
    font-size: 1rem;
    float: left;
    margin: 1%;

}

#playCtrl{
    clear: both;
    display: block;
}

.active-pad{
    width: 15%;
    height: 7vh;
    box-shadow:  0 0 5px 5px rgba(32, 38, 73, 0.562) inset;
}
  
.level{
    -webkit-appearance: none;
    border-radius: 5px;  
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

 .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
  }

#tempoEnabled, #tempoDisabled{
    width: 30%;
    height: 15px;
    position: absolute;
    left: 35%;
  }


#tempoEnabled{
    background: rgba(21, 124, 21, 0.823);
}

#tempoDisabled{
    background: #858484;
}


#tempoEnabled::-webkit-slider-thumb{
    background: rgba(160, 232, 160, 0.823);
    height: 20px;
    width: 20px;
}

#tempoDisabled::-webkit-slider-thumb{
    background: #b5b5b5d0;
    height: 20px;
    width: 20px;
}


.pads-group > .level{
    position: static;
    display: block;
    width: 70%;
    height: 10px;
    margin: 0;
    margin-left: 5%;
    padding: 0;
}

.pads-group > .level::-webkit-slider-thumb{
    height: 12px;
    width: 12px;
    background: rgb(236, 234, 234);
}

button{
    opacity: .6;
    border: 3px solid rgb(174, 174, 255);

}

button:hover{
    opacity: 1.0;
    cursor: pointer;
}

.controls{
    margin: 1% 3%;
    width: 94%;
    height: 12vh;
    padding: 0% 2%;
}

#expandBtn{
    border-radius: 50%;
    float: right;
    font-size: 1.15em;
}
.controls button{
    background-color: #363e5c;
    color: rgb(174, 174, 255);
    border-radius: 5px;
}

.miscCtrl{
    position: relative;
    padding: 1.5%;
    height: fit-content;
}
